# requirements.txt

# --- Untuk EDA & Lingkungan Notebook ---
jupyter
ipykernel
notebook

# -- Untuk Visualisasi ---
matplotlib
seaborn

# --- Untuk Data Analysis & Feature Engineering ---
pandas
numpy
